H4 {
    margin: 10px 0 10px 0;
}

.inlineBlockBtn {
    display: inline-block;
}

.button {
    border: none;
    border-radius: 14px;
    background: linear-gradient(to top, rgba(17, 0, 109, 0.26), rgba(87, 238, 35, 0.12)) #ECEDE3;
    box-shadow: 1px 2px 1px grey;
}

.big {
    height: 60px;
    width: 120px;
    font-size: 20px;
}

.normal {
    height: 30px;
    width: 90px;
    font-size: 15px;
}

.small {
    height: 20px;
    width: 60px;
    font-size: 9px;

}

.background1 {
    vertical-align: top;
    background: #0f9dd4;

}

.background2 {
    vertical-align: top;
    background: #88ff88;

}

.background3 {
    vertical-align: top;
    background: #041406;

}

.positionBtn1 {
    padding: 30px 10px 30px 10px;
}

.positionBtn2 {
    padding: 0 50px 90px 0;
}

.positionBtn3 {
    padding: 100px 80px 0 0;
}