body {
    width: 1024px;
    margin: 0px auto 0px auto;
    font-family: "Arial";
    
}

#navigation {
    width: 784px;
    margin-left: 240px;
}

#navigation ul {
    border: 1px solid rgba(20, 36, 51, 0.17);
    border-radius: 10px;
    line-height: 1.5;
    box-shadow: 0px 1px 0px rgba(122, 122, 122, 0.5);
}

#navigation li {
    display: inline-block;
    margin: 10px;
    padding: 12px;
    font-size: 15px;
}

#colorNavigation0 {
    color: #6b00b4;
}

#colorNavigation1 {
    color: #14731b;
}

#colorNavigation2 {
    color: #0f9dd4;
}

#colorNavigation3 {
    color: #e76023;
}

#colorNavigation4 {
    color: #041406;
}

#colorNavigation5 {
    color: #d1302c;
}

#rightColumn {
    margin-left: 240px;

}

#leftColumn {
    float: left;
    width: 200px;
}

H2 {
    display: inline-block;
    margin: 25px 0 0 0;
    font-weight: normal;
}

h5 {
    margin: 0 0 10px 0;
}

p {
    margin: 25px 0 16px 0;
    font-size: 14px;
}

.line {
    color: rgba(6, 6, 6, 0.51);
    font-style: italic;
    display: inline-block;
    font-size: 13px;
}

hr {
    border: 1px solid rgba(128, 128, 128, 0.31);
    margin: 0 0 0 10px;
    padding-left: 640px;
}

#stepIndicator {
    display: inline;
    padding: 20px;

}

#stepIndicator li {
    display: inline-block;
    margin: 0px;
    border: 1px solid rgba(20, 36, 51, 0.17);
    border-right-color: #f2f2f2;
    padding: 1px 45px 1px 45px;
    box-shadow: 0px -1px 0px rgba(122, 122, 122, 0.5);
    color: white;
    font-style: italic;
    font-size: 12px;
    width: 19px;

}

#stepIndicator li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#stepIndicator li:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-right-color: rgba(19, 34, 48, 0.34);
}

#stepIndicator li.unaffected {
    color: grey;
    background: linear-gradient(to bottom, rgba(154, 216, 2, 0.13), rgba(177, 222, 45, 0.03));

}

.completed {
    background: linear-gradient(to bottom, #2d8317, #40BF23);

}

.current {
    background: linear-gradient(to bottom, #5e8602, #b1de2d);

}

.information {
    display: inline-block;
    margin: 0 0 30px 0;
    width: 220px;

}

.positionName {
    padding: 0 10px 0 1px;

}

.positionPatronymic {
    padding: 0 0 0 20px;
}

.information li {
    display: inline-block;
    padding: 4px;
    font-size: 14px;
}

.information ul {
    padding: 0px;
    margin: 0 0 0 6px;
}

.selected {
    background: #94c02c;
    border-radius: 6px;
    color: white;

}

.unselected {
    border-bottom: 1px dotted black;
    cursor: pointer;
}

.positionStatus {
    padding: 0 0 0 34px;
}

#status {
    width: 295px;
}

#nationality {
    width: 208px;
}

#birthdayDate {
    width: 40px;
}

#month {
    width: 90px;
}

#year {
    width: 80px;
}

#bpl {
    width: 782px;
}

#place p {
    margin: 5px 0 15px 0;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.59);
}

#fonButton {
    background-color: #f2f2f2;
    padding: 20px;

}

.btn {
    display: inline-block;

}

.btn:last-child {
    float: right;
}

#back {
    background: linear-gradient(to top, #969696, #bdbdbd);
    color: white;
    border: none;
    border-radius: 17px;
    padding: 10px 30px 10px 30px;
}

#next {
    background: linear-gradient(to top, #5e8602, #b1de2d);
    color: white;
    border: none;
    border-radius: 17px;
    padding: 10px 30px 10px 30px;

}

