.progressBar {
    float: left;
    margin: 10px auto;
    display: block;
    width: 200px;
    height: 15px;
    border-radius : 8px;
    background: #fff;
    padding: 0;
    border: 0;
    text-align: center;
    box-shadow: 1px 2px rgba(0,0,0,.3) inset, 0 0 0 1px rgba(0,0,0,.5);
    overflow:hidden;
    background: -o-linear-gradient(#4c4, #8f8 50%, #4c4);
    box-shadow: 0px -1px 5px rgba(122, 122, 122, 0.61);

}

progress::-moz-progress-bar {
    background: -moz-linear-gradient(#4c4, #8f8 50%, #4c4);
    border-radius: 8px;
}
progress::-webkit-progress-bar {
    background: #fff;

}
progress::-webkit-progress-value {
    background: -webkit-linear-gradient(#4c4, #8f8 50%, #4c4);
    border-radius: 8px;
}

.progressBarLine {
    border: none;
    background: none;
    display: block;
    border-radius : 8px;
    background: -o-linear-gradient(#4c4, #8f8 50%, #4c4);
    width: 100%;
    height: 100%;
    overflow:hidden;
}
.progressBarText {
    position: absolute;
    width: 210px;
    left: 0;
    z-index: 1;
    text-align: center;
    overflow:hidden;
    border-radius: 8px 8px;
    margin-top: -15px;
    font: bold italic 14px " Arial";
}