dl.rating ol{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 160px;
    height: 33px;
    position: relative;
    background: url(star.png);
}

dl.rating li{
    float: left;
    margin: 0;
    padding: 0;
}
dl.rating li a{
    display: block;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    position: absolute;
    text-decoration: none;
    z-index: 10;

}
dl.rating li a:hover{
    background: url("star.png") left bottom;
    left: 0;
    z-index: 2;

}
.current{
    background: url("star.png") left center;
    left: 0px;
    height: 33px;
    z-index: 1;
}
dl.rating a.star1{
    left: 0;
}

dl.rating a.star1:hover{
    width: 32px;
}

dl.rating a.star2{
    left: 32px;
}

dl.rating a.star2:hover{
    width: 64px;
}

dl.rating a.star3{
    left: 64px;
}

dl.rating a.star3:hover{
    width: 96px;
}

dl.rating a.star4{
    left: 96px;
}

dl.rating a.star4:hover{
    width: 128px;
}
dl.rating a.star5{
    left: 128px;
}

dl.rating a.star5:hover{
    width: 160px;
}